/* Category */
.sidebar-toggler .btn {
  width: 100%;
}

.sidebar-toggle {
  display: none;
}

.sidebar .list-group-item.active {
  background-color: var(--main-color-prymary);
  border-color: var(--main-color-prymary);
}

@media all and (min-width: 992px) {
  .sidebar-toggler {
    display: none;
  }

  .sidebar-toggle {
    display: block !important;
  }
}

.page-link {
  color: var(--main-color-prymary);
}

.page-item.active .page-link {
    background-color: var(--main-color-prymary);
    border-color: var(--main-color-prymary);
}

.page-link:hover {
  color: #fff;
  background-color: var(--main-color-prymary);
  border-color: var(--main-color-prymary);
}

.input-group-text, .form-select {
  font-size: 14px;
}
